DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

BASE_APP_URL=http://localhost:3000
BASE_API_URL=http://localhost:8000

GOOGLE_OAUTH2_CLIENT_ID=your-google-client-id
GOOGLE_OAUTH2_CLIENT_SECRET=your-google-client-secret

OAUTH_APP_NAME=normal oauth
